@import url('https://fast.fonts.net/t/1.css?apiType=css&projectid=7f417543-6d17-4e40-ac9a-5dbae502d206');
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/8bbf6a3a-8737-4019-88bc-de99f94685b8.woff2')
      format('woff2'),
    url('../fonts/4c4a01ee-be34-423a-946b-c2232feb1641.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/46b5d982-4c6a-4d84-95e3-e6798a16c06d.woff2')
      format('woff2'),
    url('../fonts/7d5ab5ac-a02e-491e-855a-d4f6e587a084.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/09c9c395-0999-4167-96b5-6fbba1e65cc3.woff2')
      format('woff2'),
    url('../fonts/749a2570-0ccc-4972-bf88-77139f193a6e.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}
