// Desktop
$spacing-d-lg: pxToRem(72px);
$spacing-d-md: pxToRem(36px);
$spacing-d-sm: pxToRem(18px);
$spacing-d-xs: pxToRem(8px);

// Mobile
$spacing-m-lg: pxToRem(72px);
$spacing-m-md: pxToRem(36px);
$spacing-m-sm: pxToRem(18px);
$spacing-m-xs: pxToRem(8px);
